#!/usr/bin/make -f
# -- makefile --

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/docs/class/asciidoc.mk

XMLTOFLAGS=-o debian/

pre-build::

common-build-indep:: usr/share/man/man1/alienation.1.xml usr/share/man/man1/alienation.1

clean::
	rm -rf usr/share/man/man1/*.xml
	rm -rf debian/*.1
	rm -rf ../alienz_*.dsc
	rm -rf ../alienz_*_amd64.changes
	rm -rf ../alienz-*/debian/alienz/a
	rm -rf ../alienz-*/alienz.debhelper.log
	rm -rf ../alienz-*/alienz.substvars
	rm -rf ../alienz-*/files
